<% provide(:title, "Home") %>
<h1 class="cover-heading">This is a playground.</h1>
<p class="lead">Whatever will come here, it will be glorious!</p>
<%= link_to "Sign up", signup_path , class: "btn btn-lg btn-primary" %>
